
*{
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    -webkit-user-select: none;
    user-select: none;
}

.popinput {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.8);
    margin: 0 0 10px 0;
    font: 20pt sans-serif;
}

.popbutton {
  border: 5px solid red;
  border-radius: 12px;
  -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,225,225,0.9);
    margin: 0 0 10px 0;
    font: 22pt sans-serif;
}

#construction {
   background-color: #fff8ff;
   height:84%;
}


#scanvas {
  background-color : #fff8ff;
}

#tools {
  background-color: #f8fff8;
  height:14%;
  bottom:14%;
}

#tcanvas {
  background-color : #ffffff;
}

#popupDiv {
    position: absolute;
    border: 8px solid black;
    border-radius: 20px;
    left: 20%;
    top: 20%;
    width: 60%;
    z-index: 4;
    visibility: hidden;
    background-color : #F0F0FF;
    color: #600000;
    font: 22pt sans-serif;
    text-align:center;
    opacity:.9;
    
   transition: opacity 1s, z-index 1.2s ease-in-out;
   -moz-transition: opacity 1s, z-index 1.2s ease-in-out;
   -webkit-transition: opacity 1s, z-index 1.2s ease-in-out;
}

#topbar {
  height:8%;
  background-color : #008800;
  color: white;
}

#bottombar {
  height:8%;
  background-color : #008800;
  color: white;
}


#screenCapDiv {
  position:absolute;
    border: 4px solid black;
    left: 10%;
    top: 5%;
    width: 82%;
    height: 85%;
    z-index: 4;
    visibility: hidden;
    background-color : #008800;
    color: #600000;
    font: 22pt sans-serif;
    opacity:1;
    
   transition: opacity 1s, z-index 1.2s ease-in-out;
   -moz-transition: opacity 1s, z-index 1.2s ease-in-out;
   -webkit-transition: opacity 1s, z-index 1.2s ease-in-out;
}

#screencap {
  background-color : #FEFEFE;
  float:left;
}


table.nav {
    width:100%;
}

table.nav td { 
    width:95%;
   text-align:center;
}


#splashdiv {
    position: absolute;
    left: 0px;
    top: 20%;
    width: 100%;
    height: 60%;
    z-index: 3;
    
   transition: opacity 1s, z-index 1.2s ease-in-out;
   -moz-transition: opacity 1s, z-index 1.2s ease-in-out;
   -webkit-transition: opacity 1s, z-index 1.2s ease-in-out;
}

#splash {
  width:50%;
  height:70%;
  border: 1px solid black;
}


